:root {
    --first-color: #EAF6FF;
    --second-color: #232528;
    --third-color: #2A2A72;
    --fourth-color: #009FFD;
    --fifth-color: #7994a0;
}

html{
    background-color: #009FFD;
}

#main-page {
    padding: 3ch;
    background-color: #009FFD;
    height: 100%;
    width: 100%;
}

h2 {
    border-style: solid;
    border-color: var(--third-color);
    border-radius: 0.5ch;
    height:max-content;
    width: max-content;
    color: #232528;
    text-shadow: 2px 2px var(--fifth-color);
}

p {
    color: var(--second-color);
    border-style: solid;
    border-color: var(--third-color);
    border-radius: 0.5ch;
    height: max-content;
    width: max-content;
}

@media screen and (max-width: 480px) {
    #main-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-wrap: break-word;
    }

    #profile {
        background-color: var(--fifth-color);
    }
}