:root {
    --first-color: #EAF6FF;
    --second-color: #232528;
    --third-color: #2A2A72;
    --fourth-color: #009FFD;
    --fifth-color: #7994a0;
}

/* body {
    background-color: #009FFD;
} */

#title {
    font-size: 5ch;
    height:max-content;
    width: max-content;
    color: var(--second-color);
    text-shadow: 2px 5px var(--fifth-color);
    padding-left: 2ch;
}

#login {
    width: 20ch;
    color: var(--second-color);
    border-style: solid;
    border-color: var(--third-color);
    border-radius: 0.5ch;
    background-color: var(--fifth-color);
    height: fit-content;
    width: fit-content;
    padding: 2ch;
    margin-left: 2ch;
}

 @media screen and (max-width: 480px) {
  
    #title {
        color: var(--fifth-color);
        text-shadow: var(--third-color) 2px 3.5px;
        text-align: center;
        padding-left: 6.5ch ;
    }

    #login {
        border-style: solid;
        border-color: var(--fourth-color);
        margin-left: 9ch;
    }
  } 